{% extends "ger_base.html" %}
{% load staticfiles %}


{% load staticfiles %}


{% block content%}
    {% if clients_list %}
    
    <div class="container padded">
    <div class="row">
        <div class="col-lg-9 col-md-offset-2">
            <h2>unsere Kunden</h2>
            <hr>
            <p>Viele Firmenkunden nutzen wir ihren Mitarbeitern helfen, in ihrer täglichen Arbeit lebt, Geschäftsreisen und Kunden Direkt Gruppen navigieren, finden Sie heraus, was wir für Sie tun können.</p>
        {% for client in clients_list %}
            <ul>
                <li><b>{{client.name}}</b></li>
            </ul>
        {% endfor %}
        </div>
    </div> 
    
    <!--<div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-briefcase"></span> Corporate Clients</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac est luctus, cursus elit ac, convallis eros. Integer lobortis hendrerit ante id facilisis. Suspendisse commodo augue ac orci lobortis vulputate. Donec posuere vitae lectus et ornare. Cras tincidunt libero et ipsum consectetur, vel posuere dolor tempor. Integer a dui eget ipsum elementum sodales. Fusce vel justo tincidunt, facilisis ligula sed, porttitor lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.
                        </div>
                    </div>
                </div>
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-barcode"></span> Commercial Clients</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac est luctus, cursus elit ac, convallis eros. Integer lobortis hendrerit ante id facilisis. Suspendisse commodo augue ac orci lobortis vulputate. Donec posuere vitae lectus et ornare. Cras tincidunt libero et ipsum consectetur, vel posuere dolor tempor. Integer a dui eget ipsum elementum sodales. Fusce vel justo tincidunt, facilisis ligula sed, porttitor lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
    
    {% else %}
        No Clients available
    {% endif %}

{% endblock %}